modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ANDROID_CERTIFICATE_FINGERPRINTS = "719a03d560de9ebe2d4079e5186d32e154a0ad6c02e0f343320794beefe8bfec"
BASE_URL = "https://6d659939-44f8-440f-aa2f-1c62c2f315a6-00-3i8m8oluiqoif.sisko.replit.dev"
LATEST_VERSION = "1.0.0"
MINIMUM_SUPPORTED_VERSION = "1.0.0"
UPDATE_URL = "https://6d659939-44f8-440f-aa2f-1c62c2f315a6-00-3i8m8oluiqoif.sisko.replit.dev/apps"
VITE_BASE_URL = "https://6d659939-44f8-440f-aa2f-1c62c2f315a6-00-3i8m8oluiqoif.sisko.replit.dev"
